<div id="palm-dialog-content" class="palm-dialog-content">
	<div id="title" class="palm-dialog-title">
		Find Instagram User
	</div>
	<div class="palm-dialog-separator"></div>
  <div x-mojo-element="TextField" id="content" name="content"></div>
	<div id='tool-bar'>
        <ul class="tool-bar" style="width:100%;">
            <li id='search-user' style="width: 50%;">
                <span>SEARCH</span>
            </li>
            <li id='cancel' style="width: 50%;">
                <span>CANCEL</span>
            </li>
        </ul>
    </div>
</div>
