@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

img {
    display: block;
}

.clear {
    clear: both;
}

.f-l {
    position: relative;
    float: left;
}

.f-r {
    float: right;
}

body {
    background: white;
}

#connect_btn {
    width: 222px;
    height: 86px;
    margin-top: -43px;
    margin-left: -111px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-indent: -9999px;
    display: block;
    outline: none;
    text-decoration: none;
    background: transparent url("../images/connect_via_instagram_button.png") no-repeat 0 0;
}

/* nav bar */
#nav-bar {
	position:fixed;
	bottom:0;
	left:0;
	background:rgba(0,0,0,0.8);
	padding-top:7px;
	width:50%;
}
.nav li {
    float: left;
    width: 50%;
    text-align: center
}

.nav li span {
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
}

.nav li span.active {
	color: white;
}

/* feed item */
ol, ul {
    list-style: none;
}

.username {
    color: #464D70;
	text-decoration: none;
	padding-right: 8px;
	white-space:nowrap;
	word-break:keep-all;
	overflow:hidden;
	text-overflow:ellipsis;
}

.name-large {
	font-size: 18px;
}

.userinfo {
	background: url(../images/user_info_bg.gif) repeat;
}

#follow-info {
	padding-right: 0px;
	white-space:nowrap;
	word-break:keep-all;
	overflow:hidden;
	text-overflow: clip;
}

.counts {
	color: #A1AC88;	
    font-weight: bold;
}

.counts-value {
	color: #757575;	
    font-weight: bold;
}

.location {
    color: #A1AC88;	
    font-weight: bold;
    background: url(../images/icons/marker_rounded_grey.png) no-repeat left;
    padding-left: 18px;
	padding-right: 8px;
	white-space:nowrap;
	word-break:keep-all;
	overflow:hidden;
	text-overflow: ellipsis;
}

.normal, .time, .comment, .nav li span {
    color: #757575;
}

.time {
    font-weight: normal;
    font-size: 12px;
    background: url(../images/icons/mini-time.png) no-repeat left;
    padding-left: 12px;
    position: absolute;
    right: 0;
    top: 5px;
}

.comment {
  font-size: 16px;
}

.like {
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border: #solid 10px #000; /* fallback for browsers that don't understand rgba */
  background-color: rgba(0,0,0,0.7);/* slighly transparent white */
  border-color: solid 10px rgba(0,0,0,0.2); /*Very transparent black*/
  color: white;
  padding: 5px;
}

.likeContent {
  padding-left: 30px;
}

.liked {
  background: url(../images/icons/liked.png) no-repeat left;
}

.unliked {
  background: url(../images/icons/unliked.png) no-repeat left;
}

.user-item-dark {
  background-color: rgba(0,0,0,0.2);
}
.user-item-light {
  background-color: rgba(0,0,0,0.1);
}

/* clean gray
*******************************************************************************/
button.clean-gray {
  background: #eee;
  background: -moz-linear-gradient(top, #eee 0%, #ccc 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 150px;
}

button.clean-gray:hover {
  background: #ddd;
  background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#bbb));
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
}

button.clean-gray:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}
