<div class="userinfo" style="overflow:hidden;padding:15px;padding-left:96px;height:90px;">
	<a href="" style="position:absolute;top:10px;left:10px;padding-top:7px;">
	   <img id='user-avatar' src="" class='avatar-middle' 
	   		style="width:80px;height:80px;border-radius: 10px;"/>
	</a>
	<p id='username' class='username name-large'>#{user.username}&nbsp;</p>
	<div id='counts-area'>
    <div class="counts post">
      <div class="counts-title post">POST</div>
      <div class="counts-num post" id='counts-po'>0</div>
    </div>
    <div class="counts foed">
      <div class="counts-title foed">FOED</div>
      <div class="counts-num foed" id='counts-foed'>0</div>
    </div>
    <div class="counts foing">
      <div class="counts-title foing">FOING</div>
      <div class="counts-num foing" id='counts-fo'>0</div>
    </div>
    <div class="clear"></div>
	</div>
	<div style="margin-top:5px;"><button id="btn-follow" class="clean-gray">follow</button></div>
</div>
<div style='margin:7px;'>
    <div id='feed-list' x-mojo-element='List'>
    </div>
    <div id='float_all' style="position:fixed;top:0;left:0;width:100%;background:rgba(255,255,255,0.8);">
        <div id='float_bar'style="margin:7px;position:relative;">
        </div>
    </div>
</div>
